
.flipping-card {
    /* width: 316.2px; */
    /* height: 394.38px; */
    height: 254.01px;
    margin-bottom: 94.38px;
    /* perspective: 1000px; */
    /* margin-left: 59px;
    margin-right: 49px; */
    margin-left: 14%;
    margin-right:32%;
    cursor: pointer;
  }
  
  .card-inner {
    
    width: 316.2px;
    height: 254.01px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .flipping-card.flipped .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-front img {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
  }
  
  .card-back {
    background: #5a6a3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
  }
  